{% extends 'base.html' %}
{% load static %}

{% block body_block %}
<div id='about' style="background:white;">
<div class="container" style=" padding-bottom:230px;">
  <h3 style="padding-top:50px;">Website development</h3>
<br>
<img src="{% static 'images/mypic4.jpg' %}" width="200px;" style="" alt="">
  <ul style="margin-top:-170px;margin-left:200px;">
    <span style="color:black;font-size:1.2em; font-weight:bold;">Cherukuru Vamsi </span><br> B.Tech, Computer Science and Engineering, <br>

      Final Year <br> Christ (Deemed To Be University) <br>Kengeri campus <br>Bangalore.

  </ul>

</div>
</div>


{% endblock %}
