{% extends 'base.html' %}


{% block body_block %}
<div class="container">
<br>
  <h1>Applications for Class 8</h1>
    <h1>  {{adds.Student_Name}}</h1>
    <table class="table" style="border:1px solid black;background:white;width:1000px;">
      <thead class="thead-dark">
        <th>S.no</th>
        <th>Name</th>
        <th>email</th>
        <th>Application Date</th>
        <th>Link</th>
      </thead>
      {% for adds in eight_adds %}
      <tr>
        <td>{{adds.id}}</td>
        <td>{{adds.Student_Name}}</td>
        <td>{{adds.email_Id}}</td>
        <td>{{adds.dateofApp}}</td>
          <td><a href="{% url 'rrps_web:eight_details' pk=adds.id %}" class="btn btn-dark">Open Application</a></td>
      </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
